<section id="about">
    <div class="me">
        <h2>About Me</h2>
        <p>{{ about_me }}</p>
        <p>{{ about_goal }}</p>
    </div>

    <div class="background">
        <h3 id="education">{{ education_heading }}</h3>
        <p>{{ education_paragraph }}</p>
        <img src="{{ education_image }}" alt="A view of Marquette">
        <p>{{ education_followup }}</p>
    </div>

    <div class="resume-download">
        <a href="{{ resume_file }}" class="btn btn-primary" download>
            Download My Resume
        </a>
    </div>

</section>