<section id="projects">
    <h2>Projects Completed</h2>

    <div class="project">
        <h2>Project 1</h2>
        <h3>Affordable Doors & More LLC</h3>
        <p>Metro Detroit Door Company</p>
        <a href="https://www.affordabledoorsandmore.com/" target="_blank" class="btn btn-primary">View Project</a>
    </div>

    <div class="project">
        <h2>Project 2</h2>
        <h3>Melissa Sica's Healing Hands</h3>
        <p>Shamanism & Reiki Healing</p>
        <a href="https://totalbalancedhealing.com/" target="_blank" class="btn btn-primary">View Project</a>
    </div>

    <div class="project">
        <h2>Project 3</h2>
        <h3>Affordable Doors & More LLC</h3>
        <p>Redesign</p>
        <a href="https://demo.affordabledoorsandmore.com/" target="_blank" class="btn btn-primary">View Project</a>
    </div>

    <div class="project">
        <h2>Project 4</h2>
        <h3>Theisen Cleaning Services LLC</h3>
        <p>Marquette, MI Cleaning Company</p>
        <a href="https://theisencleaning.com/" target="_blank" class="btn btn-primary">View Project</a>
    </div>
</section>